/*
Theme Name:     KBPress by WPBSS
Template:       wpbss
GitHub Theme URI: https://github.com/systemo-biz/kbpress
GitHub Branch: master
Version: 20160107-1
*/


/* change in function on wp_enqueue_scripts (https://kovshenin.com/2014/child-themes-import/)
* @import url("../wpbss/style.css");
*/
